body {
    background: url(imagens/fundoroxo.jpg);
    font: 16px Arial, Helvetica, sans-serif;
}
#principal {
    width: 900px;
    border: 5px solid #660066;
    text-align: center;
    margin: 0px auto;
}
#menu {
    background: #A760E9;
    padding: 18px;
    border-top: 3px solid #660066;
    border-bottom: 3px solid #660066;
}
#conteudo {
    background: #A760E9;
    padding: 10px;
}
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
.centralizar{
    text-align: center;
}
h1 {
    color: black;
    font-size: 1.2em;
}
.imagens {
    border: 10px solid #660066;
}
